/* Google Fonts
* open sans
- font-family: 'Open Sans', sans-serif;
* fredericka the great
- font-family: 'Fredericka the Great', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body, h1 {
    margin: 0 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding:20px 0 0 120px;
}

main > div {
    height: 100vh;
    background: center/cover no-repeat url("../img/bg-plants.jpg");
}

h1,h2 {
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
}

p {
    
    color: #fff;
}

div section:nth-of-type(1) {
    width: 400px;
    margin: 0 auto;
    padding-top: 180px;
    text-align: center;
}
section h2:nth-of-type(1) {
    margin: 0;
}

section h2:nth-of-type(2) {
    text-transform: uppercase;
    margin-top: 0;
}

section div:first-of-type{
    margin: 0 auto;
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 150px;
}

section div:first-of-type:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000
}

nav {
    text-align: right;
    color: #fff;
    padding-right: 120px;
}

ul >li {
    list-style: none;
    padding-top: 12px;
}

a {
    text-decoration: none;
    color: #fff;
}

div > ul > li > a {
    color: #000;
}

a:hover {
    color:grey;
    text-decoration: underline;
}

article {
    margin:0 auto;
    padding: 50px 0px 50px 0px;
    width: 600px;
    text-align: center;
}

article h2, article p{
    color: #000;
}

article > div {
    margin: 0 auto;
    width: 300px;
}

div > ul {
    border: 4px double #000;
    padding-left: 0px;
}

div > ul:last-of-type {
    padding-bottom: 12px;
}

footer {
    padding: 20px 0px 20px 20px;
    background-color: #3A3B4A;
}

footer p {
    width: 40%;
    margin-bottom: 0;
}

footer div{
    margin-top: 12px;
    padding: 8px 10px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 150px;
}

footer div:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000
}

nav > span {
    padding-left: 12px;
}

